
<% user=User.find_by_id(comment.user_id) %>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
     <%= image_tag user.profile.image_url(:thumb).to_s %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to user.profile.name,user %></strong> <small> <%=user.email%> </small> <small><%= time_ago_in_words(comment.created_at) %></small>
        <br>
         <%= comment.body %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <% if user.id == current_user.id || Post.find_by_id(comment.post_id).user_id == current_user.id%>
      <%= button_to comment_path(comment), method: :delete do %>
        <small><a>X</a></small>
      <% end %>
    <% end %>
  </div>
</article>