<!DOCTYPE html>
<html>
<% if @profile %>
<body>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-4">
                        <figure class="image is-square">
                          <%= image_tag @profile.image_url(:thumb).to_s %>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                         <% if current_user.profile == @profile %>
                            Hello <%= @profile.name %> !!!
                         <% else %>
                            This is <%= @profile.name %> !!!
                         <% end %>
                            
                        </h1>
                        
                        <br>
                        <% if @profile == current_user.profile %>
                            <%= render partial: 'posts/form' %>
                        <% end %>
                       
                    </div>
                </div>
            </div>
        </div>
        <%= render partial: 'posts/post' %> 
</body>
<% else %>
    <p class="has-text-centered">
        <%= link_to "Create your profile !!!", new_profile_path, class:  "button is-medium is-info is-outlined"%>
    </p>
<% end %>
</html>