<h1> <%= current_user.profile.name %> 's Timeline:</h1>


  <%= form_for @post do |f| %>

    <article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="field">
        <p class="control">
            <%= f.text_area :body, class: "textarea", placeholder: "Create a new Post..." %>   
        </p>
        </div>
        <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <%= f.submit "Submit", class: "button is-info" %>
            </div>
        </div>
        </nav>
    </div>
    </article>

<% end %>



<% @posts.each do |post| %>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= User.find_by_id(post.user_id).profile.name %></strong>
        <br>
         <%= post.body %>
        <br>
        <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to like_path(post), method: :delete, params: { post_id: post.id} do %>
              <small><a>Unlike</a> 路 <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></small>
            <% end %>
          <% else %>
            <%= button_to likes_path, method: :post, params: { post_id: post.id } do %>
              <small><a>Like</a> 路 <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></small>
            <% end %>
          <% end %>
      </p>
    </div>
    <h3>Comments</h3>
    <% post.comments.each do |comment| %>
      <%= render partial: 'comments/content', locals: {comment: comment} %>
      <% pre_like = comment.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to like_path(comment), method: :delete, params: { comment_id: comment.id} do %>
              <small><a>Unlike</a> 路 <%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></small>
            <% end %>
          <% else %>
            <%= button_to likes_path, method: :post, params: { comment_id: comment.id } do %>
              <small><a>Like</a> 路 <%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></small>
            <% end %>
          <% end %>
    <% end %>
    <%= render partial: 'comments/form' , locals: {id: post.id} %>
</article>
<% end %>


